h1 {
    color: deepskyblue;
}

h2 {
    color: firebrick;
}

li {
    color: green;
}
p,h4{
    color: rgb(25, 0, 255);
}
* {
    text-align: center;
    background-color: lightgray;
}


#mike-tomlin {
    color: indianred;
    

}
#cool {
     color: violet;
     font-family: cursive;
     width: 10000;
     text-align: center;
     border: black;
}