h1 {
    color: deepskyblue;
}

h2 {
    color: firebrick;
}

li {
    color: green;
}
p,h4{
    color: rgb(25, 0, 255);
}
* {
    background-color: lightgray;
    text-align: center;
}

#mike-tomlin {
    color: indianred;
    

}
#cool {
     color: violet;
     font-family: cursive;
     width: 10;
     
     
